/*
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Volkhov', serif;
font-family: 'Montserrat', sans-serif;
*/

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

body {

    font-family: 'Poppins', sans-serif;
    margin: 60px 138px 79px 151px;
}

.img-color {
    position: absolute;
    right: 0;
    
}

            /* Header */

.header__section-nav {
    display: flex;
    justify-content: space-between;
}

.header__img-color {
    top: 0;
}

.header-content__burger {
    display: none;
}

.header__menu  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.header__menu li {
    
    width: 130px;
    height: 40px;

    border-radius: 5px;

    text-align: center;

    font-size: 17px;
    font-weight: 500;
    list-style-type: none;
    z-index: 2;
}

.header__menu li:hover {
    
    border: 1px solid rgb(255, 230, 0);
    transition: 0.3s  ease .14s;
    
}

.header__menu a {
    position: relative;
    top: 15%;

    color: #212832;
    text-decoration: none;
}

.header__section-content {
    display: flex;
    padding-top: 140px;
}

.header__content-text {
    max-width: 600px;
    max-height: 267px;
}

.header__content-text h1 {
    font-family: 'Volkhov', serif;
    font-size: 84px;
    line-height: 89px;
    letter-spacing: -4%;

    padding-top: 24px;

    color: #181E4B;;
}

.header__content-text h3 {
    color: #DF6951;
}

.header__content-text p {
    max-width: 477px;
    max-height: 90px;

    padding-top: 30px;

    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

.button {
    position: relative;

    width: 170px;
    height: 60px;

    background: #F1A501;
    color: white;

    font-weight: 500;
    font-size: 18px;

    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    border: hidden;
}

.header__content-btn {
    top: 60px;
}

.header__content-btn:hover {
    opacity: 0.8;
    transition: all 0.2s ease;
}

.header__content-btn:active {
    border: 2px solid #F1A501;
}

.header__content-img picture {
    position: relative;

    top: -125px;
    right: -200px;
}

               /* Main */

.title {
    text-align: center;
}

.main__section-category-subtitle {
    font-weight: 600;
    font-size: 18px;

    color: #5E6282;
}

.main__section-category-title {
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 50px;

    color: #14183E;
}

.main__category-items {
    display: flex;
    justify-content: space-between;
    
    padding-top: 108px;
}

.main__item {
    width: 200px;
    height: 230px;
}

.main__item picture {
    display: flex;
    justify-content: center;
}

.main__item h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;

    color: #1E1D4C;

    padding-top: 29px;
    text-align: center;
}

.main__item p {
    padding: 3px 6px;
    text-align: center;
    padding-top: 15px;

    font-weight: 500;
    font-size: 16px;
    line-height: 26px;

    color: #5E6282;
}

.main__section-TopSelling {
    padding-top: 150px;
}

.main__section-TopSelling-subtitle {
    font-weight: 600;
    font-size: 18px;

    color: #5E6282;
}

.main__section-TopSelling-title {
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 50px;

    color: #14183E;
}

.main__blocks-TopSelling {
    display: flex;
    justify-content: space-between;
    
    padding-top: 60px;
}

.main__blocks-item {
    width: 314px;
    height: 457px;

    border-radius: 24px;
    box-shadow: 0px 1.85px 3.15px 0px rgb(199, 196, 196);

}

.main__blocks-item picture > img {
    display: block;
    transform: translate(-17%);
}

.main__blocks-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 315px;
    height: 130px;

    position: relative;
    top: -310px;
    right: 1px;

    padding: 27px 20px 0px 20px;
    

    background: #FFFFFF;
    border-radius: 0px 0px 24px 24px;

    font-size: 18px;
    font-weight: 500;
    color: #5E6282
}

.main__blocks-text span {
    position: relative;
    left: 40%;
}

.main__blocks-nav {
    display: flex;
    gap: 10px;

    padding-bottom: 35px;
}

.main__section-Booking {
    display: flex;
    justify-content: space-between;
    padding-top: 186px;
}

.main__content--subtitle {
    font-weight: 600;
    font-size: 18px;

    color: #5E6282;
}

.main__content-title {
    font-family: 'Volkhov', serif;
    font-weight: 700;
    font-size: 50px;

    max-width: 511px;
    padding-top: 15px;

    color: #14183E;
}

.main__item-Booking {
    display: flex;
    gap: 21px;
    align-items: center;

    padding-top: 31px;
}

.main__item2-Booking {
    padding-top: 48px;
}

.main__item3-Booking {
    padding-top: 48px;
}

.main__text-Booking h5 {
    font-weight: 700;
    font-size: 16px;

    color: #5E6282;
}

.main__text-Booking p {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    max-width: 327px;

    color: #5E6282;
}

.main__img-Booking picture {
    position: relative;
    top: 15%;

    filter: drop-shadow(-5px -2px 5px rgba(58, 107, 214, 0.3));
}

.main__section-logos {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 96px;
}

.main__item-logos {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 241px;
    height: 86px;

    background-color: #FFFFFF;
}

.main__item3-logos {
    border-radius: 10px;

    box-shadow: 5px 5px 20px 0px rgba(207, 199, 199, 0.3);
}

.main__section-subscribe {
    position: relative;
    width: 100%;
    height: 407px;

    top: 124px;
    border-radius: 129px 20px 20px 20px;

    background-color: #dfd7f93d;
}

.main__section-subscribe picture {
    display: block;
    position: relative;
    float: right;
    top: -25px;
    right: -25px;

}

.main__section-subscribe p {
    display: block;
    position: relative;

    left: 25%;
    text-align: center;
    width: 860px;

    padding-top: 79px;

    font-weight: 600;
    font-size: 33px;
    line-height: 54px;

    color: #5E6282;
}

.main__section-subscribe input {
    width: 421px;
    height: 68px;

    border-radius: 10px;
    border: hidden;

    padding: 25px 0px 25px 31px;

    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

.main__section-subscribe form {
    position: relative;
    padding-left: 30%;

    padding-top: 74px;
}

.main__section-subscribe form > button {
    width: 180px;
    height: 68px;

    background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
    border-radius: 10px;
    border: hidden;
    color: #FFFFFF;

    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 16px;

    transform: translateX(24px);
}

.main__section-subscribe form > button:active {
    opacity: 0.8;
    transition: all 0.2s ease;
}

                /* Footer */
.footer__section {
    padding-top: 350px;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    
}

.footer__item-text h3 {
    font-weight: 500;
    font-size: 44px;

    color: #181E4B;
}

.footer__item-text p{
    display: block;

    width: 207px;
    padding-top: 19px;

    font-weight: 500;
    font-size: 13px;
    line-height: 16.2px;

    color: #5E6282;
}

.footer__item-contacts table {
    justify-content: space-between;
    width: 475px;
    height: 153px;

    transform: translateY(10%);
}

.footer__table-tr {
    position: relative;
    top: 34px;
}

.footer__table-th {
    font-weight: 700;
    font-size: 21px;

    text-align: left;
}

.footer__table-td a {
    font-weight: 500;
    font-size: 18px;

    text-decoration: none;

    color: #5E6282;
}

.footer__table-td {
   width: 37.5%;
}

.footer__item-apps {
    transform: translateY(10%);
}

.footer__item-apps p {
    font-weight: 500;
    font-size: 20px;

    padding-top: 10px;

    color: #5E6282;
}
.footer__item-social {
    transform: translateX(-5%);
}

.footer__item-appStore {
    padding-top: 16px;
}

.footer__text-end {
    text-align: center;
    font-weight: 500;
    font-size: 14px;

    color: #5E6282;

    padding-top: 100px;
}




    



